# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# TerraLens outputs
results/*.png
results/*.tif

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
